# Anthropic Python API library
# https://github.com/anthropics/anthropic-sdk-python
anthropic

# Cloud Storage client library
# https://cloud.google.com/python/docs/reference/storage/latest
google-cloud-storage

# Google GenAI SDK
# https://github.com/googleapis/python-genai
google-genai

# LINE Message API SDK for Python
# https://github.com/line/line-bot-sdk-python
line-bot-sdk

# OpenAI Python API library
# https://github.com/openai/openai-python
openai

# python-dotenv
# https://github.com/theskumar/python-dotenv
python-dotenv
